/** HTML Semantic Elements **/
/** ______________________ **/

aside{
    background-color: #f4d695;
    position:fixed;
    right:0;
    bottom: 0rem;
    width: 25rem;
    opacity:80%
}

body{
    margin:0;
    padding:0
}

body header {
    text-align: center;
    background-color: #f4d695;
    background-repeat:no-repeat;
    background-size: cover;
    width:100%
    /*? header always visible
    position: -webkit-sticky; 
    position: sticky;
    top: 0; */
}

body header figure img {
    width: 100%;
}

figure{
    margin: 0;
}
h1 {
    font-family: 'Courgette', cursive;
    font-size: 3rem;
    text-align: center;
}

p {
    font-size : 1.3rem;
    margin-inline: 1rem;
    font-family: "Comic Sans MS";
    text-align:justify
}

footer {
    background-color: gainsboro;
}

footer p {
    padding-top: 1em;
    font-family: "Comic Sans MS";
    /* font-size : 1rem; */
}

footer nav ul {
    display: inline-flex;
}

footer ul li {
    font-size: 0.7rem;
    list-style: none;
    margin: auto;
    padding: 0.5em;
}


/** Class Elements **/
/** _____________ **/

section [class ^=img_]{
    border-style: solid;
	border-color: #ff8790;
    width: 15em;
    transition: 2s ease-out;
}

section [class ^=img_]:hover{
    /* transform: perspective(900px) rotateY(65deg) */
    width: 5em;
}

.accueil {
    text-align: center;
    display:block;
}
.accueil p{
    font-family: "Comic Sans MS";
    text-align: center;
    padding:0rem 3rem
}

.countdown{ 
    display: inline-flex;
    flex-direction: column;
    flex-wrap:nowrap;
}

.countdown p{
    font-size : 1.5rem;
    text-align: center; 
    margin-top;:0
}

.countdown-tx span {
    font-family: 'Staatliches', cursive;
    margin-left: 3rem;
}

.img_3images{
    text-align: center;
}

.moving_heart{
    width:2em; 
    animation-name:bouncy_heart;
    animation-duration:15s;
    border-color:white; 
    animation-iteration-count: infinite;
}

.img_home{
    max-width: 4em;
    padding: 0em 1em;
    transition-duration: 2s;
}

.img_home:hover{
    transform: rotatey(180deg);
}

.menu ul {
    display: inline-flex;
    width: 100%;
    padding-inline-start: 0px;
    margin-bottom: 0px;
    font-family: "Comic Sans MS";
}

.menu ul li {
    font-size: 1.2rem;
    list-style: none;
    border: 1px solid #f4d695;
    width : 100%;
    /* margin:0; */
    background-color: #ff8790;
}

.menu ul li a {
    text-decoration: none;
    color:black;
    display: inline-flex;
}

.menu ul li img{
    display: inline-flex;
    list-style: none;
    width: 5rem
}

.tab_tx{
    padding: 1rem
}

.tab_tx:hover{
    background: #ff8790;
    padding: 0.5em;

}


/** Key Frames **/
/** __________ **/

@keyframes bouncy_heart {
    0% {
        transform: translate(-50em, 0em);
    }
    50% {
        transform: translate(0em, 1em) rotate(-45deg);
    }
    100% {
        transform: translate(50em, 0em) rotate(0deg);
    }
}


/** Media Queries **/
/** _____________ **/

@media only screen and (max-width: 961px) {
    .menu ul {
        display: inline-block;
    }
}





/* @keyframes bouncy_heart {
    0% {
        transform: translate(0em, 20em) rotate(-25deg);
    }
    5%{
        transform: translate(-13em, -1em) rotate(0deg);
    }
    10%{
        transform: translate(-12em, -2em) rotate(25deg);
    }
    15%{
        transform: translate(-10em, -2em) rotate(0deg);
    }
    20%{
        transform: translate(-9em, -2em) rotate(-25deg);
    }

    25% {
        transform: translate(-8em -3em) rotate(0deg);
    }
    50% {
        transform: translate(0em, 0em) rotate(25deg);
    }
    75%{
        transform: translate(10em, -3em) rotate(0deg) ;
    }
    100% {
        transform: translate(20em, 0em) rotate(-25deg);
    }
} */



