/** HTML Semantic Elements **/
/** ______________________ **/

body{
    margin:0;
    padding:0
}

body header {
    text-align: center;
    background-color: #f4d695;
    background-repeat:no-repeat;
    background-size: cover;
    width:100%
    /*? header always visible
    position: -webkit-sticky; 
    position: sticky;
    top: 0; */
}

body header figure img {
    width: 100%;
}

h1 {
    font-family: 'Courgette', cursive;
    font-size: 3rem;
    text-align: center;
}

p {
    font-size : 1rem;
    margin-inline: 1rem;
    font-family: "arial";
    text-align:justify
}

aside  {
    position:fixed;
    right:0;
    top: 21.18rem;
    width: 15rem;
    /* position: -webkit-sticky;
    position: sticky;
    bottom:2px; */
}

footer {
    background-color: gainsboro;
}

footer p {
    padding-top: 1em;
    font-family: "Comic Sans MS";
    /* font-size : 1rem; */
}

footer nav ul {
    display: inline-flex;
}

footer ul li {
    font-size: 0.7rem;
    list-style: none;
    margin: auto;
    padding: 0.5em;
}


/** Class Elements **/
/** _____________ **/

.accueil {
    text-align: center;
    display:block;
    width:50rem;
    padding: 0rem 15rem;
}
.accueil p{
    font-family: "Comic Sans MS";
    text-align: center; /*! pourquoi je dois le mettre là alors qua c'est dans accueil ?*/
}

.countdown{ 
    display: inline-flex;
    flex-direction: column;
    flex-wrap:nowrap;
    width:100%
}

.countdown-tx span {
    font-family: 'Staatliches', cursive;
    margin-left: 3rem;
}

.img_bisous{
    border-style: solid;
	border-color: #ff8790;
    width: 200px;
    transition: 2s ease-out;
}

.img_bisous:hover{
    transform: perspective(900px) rotateY(65deg)
}

.img_cloud {
    /* display:block; */
    width: 15rem;
    transition-duration: 2s;
}

.img_cloud:hover{
    transform: rotatey(45deg);
}

.img_couple {
    /* display:block; */
	/* float:left; */
	border-style: solid;
	border-color: #ff8790;
	/* width: 15rem;
	height: 15rem; */
    width: 200px;
    transition: width 3s linear;
}

.img_couple:hover{
    width: 300px;
}

.img_heart{
    width:50px;
    animation-name:bouncy_heart;
    animation-duration:6s;
    animation-iteration-count: infinite;
}

.img_home{
    transition-duration: 2s;
}

.img_home:hover{
    transform: rotatey(180deg);
}

.menu ul {
    display: inline-flex;
    width: 100%;
    padding-inline-start: 0px;
    margin-bottom: 0px;
}

.menu ul li {
    /* vertical-align: bottom; */
    font-size: 1.3rem;
    list-style: none;
    /* margin: auto; */
    border: 1px solid #ff8790;
    width : 100%;
}

.menu ul li a {
    text-decoration: none;
    color:black;
    display: inline-flex;
    /* display: medium; */
}

.menu ul li img{
    display: inline-flex;
    list-style: none;
    width: 5rem
}

.tab_programme:hover{
    background: linear-gradient(blue green) /*! Pourquoi ça ne le fait pas ? */
}

.tab_rotate_z:hover{
    transform: rotatez(180deg);
    background: #ff8790;
    padding: 0.5em;

}


/** Key Frames **/
/** __________ **/

@keyframes bouncy_heart {
    0% {
        transform: translate(-10em, 0px);
    }
    50% {
        transform: translate(10px, 100%) rotate(180deg);
    }
    100% {
        transform: translate(10em, 0px) rotate(0deg);
    }
}

/** Media Queries **/
/** _____________ **/

@media only screen and (max-width: 961px) {
    .menu ul {
        display: inline-block;
    }
}