body section {
    font-family: "Comic Sans MS";
    display: inline-flex;
}

body header {
    text-align: center;
    background: url(image/cloud-heart-crop.png);
    background-repeat:no-repeat;
    background-size: cover;
    /* background-position:5rem 5rem; */
}

body header img {
    width: 100%;
}

h1 {
    font-family: 'Courgette', cursive;
    font-size: 3rem;
    text-align: center;
}
p {
    font-size : 1rem;
    margin-inline: 1rem;

}

.tx-countdown {
    display: inline-flex;
}
.tx-countdown p {
    font-family: 'Staatliches', cursive;
    margin-left: 3rem;
}

.menu ul {
    display: inline-flex;
    width: 100%;
    padding-inline-start: 0px;
    margin-bottom: 0px;
}

.menu ul li {
    font-size: 1.3rem;
    list-style: none;
    /* margin: auto; */
    background: #f4d695;
    padding: 0.5em;
    border: 1px solid #ff8790;
    width : 100%;
}

.menu ul li a {
    text-decoration: none;
    color:black;
}

.accueil {
    text-align: center;
    display:block;
}

#img_couple {
    /* display:block; */
	/* float:left; */
	border-style: solid;
	border-color: #ff8790;
	width: 15rem;
	height: 15rem;
}

aside{
    float: right;
}

#wedding-rings {
    /* display:block; */
    width: 15rem;
    transition-duration: 8s;
}

#wedding-rings :hover{
    transform: rotate(180deg);
}

footer {
    background-color: gainsboro;
}
footer p {
    padding-top: 1em;
    font-size : 1rem;
}

footer nav ul {
    display: inline-flex;
}

footer ul li {
    font-size: 0.7rem;
    list-style: none;
    margin: auto;
    padding: 0.5em;

@media only screen and (max-width: 961px) {
    .menu ul {
    display: inline-block;
    }