body{
    margin:0;
    padding:0
}

body section {
    font-family: "Comic Sans MS";
    /* display: inline-flex; */
}

/** HEADER **/
body header {
    text-align: center;
    background: url(images/cloud-heart-crop.png);
    background-repeat:no-repeat;
    background-size: cover;
    /**** header always visible
    position: -webkit-sticky; 
    position: sticky;
    top: 0; */
}

body header img {
    width: 100%;
}

.countdown{
    display: inline-flex;
    flex-direction: column;
    flex-wrap:nowrap;
}

h1 {
    font-family: 'Courgette', cursive;
    font-size: 3rem;
    text-align: center;
}

p {
    font-size : 1rem;
    margin-inline: 1rem;

}

.tx-countdown {
    display: inline-flex;
}
.tx-countdown p {
    font-family: 'Staatliches', cursive;
    margin-left: 3rem;
}

/* .menu{} */

.menu ul {
    display: inline-flex;
    width: 100%;
    padding-inline-start: 0px;
    margin-bottom: 0px;
}

.menu ul li {
    /* vertical-align: bottom; */
    font-size: 1.3rem;
    list-style: none;
    /* margin: auto; */
    background: #f4d695;
    padding: 0.5em;
    border: 1px solid #ff8790;
    width : 100%;
}

.menu ul li img{
    display: inline-flex;
    list-style: none;
    width: 5rem
}
.menu ul li a {
    text-decoration: none;
    color:black;
    display: inline-flex;
    /* display: medium; */
}

.accueil {
    text-align: center;
    display:block;
}

#img_couple {
    /* display:block; */
	/* float:left; */
	border-style: solid;
	border-color: #ff8790;
	width: 15rem;
	height: 15rem;
}

aside img {
    position:fixed;
    right:0;
    top: 21.18rem;
    width: 15rem;
    /* position: -webkit-sticky;
    position: sticky;
    bottom:2px; */
}

#wedding-rings {
    /* display:block; */
    width: 15rem;
    transition-duration: 8s;
}

#wedding-rings :hover{
    transform: rotate(180deg);
}

footer {
    background-color: gainsboro;
}
footer p {
    padding-top: 1em;
    font-size : 1rem;
}

footer nav ul {
    display: inline-flex;
}

footer ul li {
    font-size: 0.7rem;
    list-style: none;
    margin: auto;
    padding: 0.5em;

@media only screen and (max-width: 961px) {
    .menu ul {
    display: inline-block;
    }